<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.system.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.easy.system.bean.pojo.Menu">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="is_iframe" jdbcType="CHAR" property="isIframe"/>
        <result column="is_link" jdbcType="TINYINT" property="isLink"/>
        <result column="is_affix" jdbcType="TINYINT" property="isAffix"/>
        <result column="link" jdbcType="VARCHAR" property="link"/>
        <result column="is_hide" jdbcType="TINYINT" property="isHide"/>
        <result column="is_keep_alive" jdbcType="TINYINT" property="isKeepAlive"/>
        <result column="menu_type" jdbcType="CHAR" property="menuType"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="enable" jdbcType="TINYINT" property="enable"/>
        <result column="create_by" jdbcType="CHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="CHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        menu_name,
        parent_id,
        order_num,
        `path`,
        component,
        redirect,
        is_iframe,
        is_link,
        is_affix,
        link,
        is_keep_alive,
        is_hide,
        menu_type,
        perms,
        icon,
        `enable`,
        create_by,
        create_time,
        update_by,
        update_time,
        del
    </sql>

    <select id="getMenuList" resultType="com.easy.system.bean.vo.MenuTreeVO">
        SELECT DISTINCT m.id as id,
        m.menu_name as menuName,
        m.parent_id as parentId,
        m.order_num as orderNum,
        m.`path` as `path`,
        m.component as component,
        m.redirect as redirect,
        m.menu_type as menuType,
        m.is_iframe as isIframe,
        m.is_link as isLink,
        m.is_affix as isAffix,
        m.link as link,
        m.is_hide as isHide,
        m.`is_keep_alive` as isKeepAlive,
        m.`enable` as `enable`,
        m.perms as perms,
        m.icon as icon
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
        LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        <where>
            <if test="search.userId != null and search.userId != ''">
                and ur.user_id = #{search.userId}
            </if>
            <if test="search.menuName != null and search.menuName != ''">
                and m.menu_name = #{search.menuName}
            </if>
        </where>
        and m.enable = 1
        AND r.enable = 1
        order by m.order_num
    </select>
</mapper>