<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.easy.system.bean.pojo.User">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="client" jdbcType="CHAR" property="client"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_by" jdbcType="CHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="CHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, email, phone, client, sort, `status`, create_by, create_time,
        update_by, update_time, del
    </sql>

    <select id="selectUserInfo" resultType="com.easy.system.bean.vo.user.UserInfoExpandVO">
        select u.id as id,
        u.username as username,
        u.email as email,
        u.phone as phone,
        u.client as client,
        u.`status` as status,
        u.create_time as createTime,
        ui.avatar as avatar,
        ui.nickname as nickname,
        ui.gender as gender,
        ui.name as name,
        ui.id_card as idCard,
        from sys_user u
        left join sys_user_info ui on u.id = ui.user_id
        where u.id = #{userId}
        and u.del = 0
    </select>
</mapper>