<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.easy.system.bean.pojo.User">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="client" jdbcType="CHAR" property="client"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_by" jdbcType="CHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="CHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
    </resultMap>

    <resultMap id="UserInfoResultMap" type="com.easy.system.bean.vo.user.UserInfoExpandVO">
        <!--@mbg.generated-->
        <!--@Table easy_config-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="id_card" property="idCard"/>
        <result column="email" property="email"/>
        <result column="client" property="client"/>
        <result column="status" property="status"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <collection property="orgList" ofType="java.lang.String" javaType="java.util.List">
            <result column="id"/>
        </collection>
        <collection property="roleList" ofType="java.lang.String" javaType="java.util.List">
            <result column="id"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, email, phone, `client`, `status`, create_by, create_time,
        update_by, update_time, del
    </sql>

    <select id="selectUserInfo" resultType="com.easy.system.bean.vo.user.UserInfoExpandVO">
        select u.id          as id,
               u.username    as username,
               u.email       as email,
               u.phone       as phone,
               u.client      as client,
               u.`status`    as status,
               u.create_time as createTime,
               ui.avatar     as avatar,
               ui.nickname   as nickname,
               ui.gender     as gender,
               ui.name       as name,
               ui.id_card    as idCard
        from sys_user u
                 left join sys_user_info ui on u.id = ui.user_id
        where u.id = #{userId}
          and u.del = 0
    </select>

    <select id="userInfoPage1" resultType="com.easy.system.bean.vo.user.UserInfoExpandVO">
        SELECT
        u.id,
        u.username,
        u.`password`,
        u.email,
        u.phone,
        u.`client`,
        u.`status`,
        u.create_by,
        u.create_time,
        u.update_by,
        u.update_time,
        u.del,
        ui.nickname,
        ui.gender,
        ui.avatar,
        uo.org_id
        FROM sys_user u
        LEFT JOIN sys_user_info ui ON u.id = ui.user_id
        LEFT JOIN sys_user_org uo ON u.id = uo.user_id
        <where>
            <if test="dto.orgId != null and dto.orgId != ''">
                and uo.org_id = #{dto.orgId}
            </if>
            <if test="dto.username != null and dto.username != ''">
                and u.username = #{dto.username}
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                and u.phone = #{dto.phone}
            </if>
            <if test="dto.email != null and dto.email != ''">
                and u.email = #{dto.email}
            </if>
            <if test="dto.accountStatus != null">
                and u.account_status = #{dto.accountStatus}
            </if>
            <if test="dto.gender != null">
                and ui.gender = #{dto.gender}
            </if>
        </where>
    </select>

    <update id="updateUser">
        update sys_user
        set email=#{dto.email},
            phone=#{dto.phone},
            `client`=#{dto.client},
            `status`=#{dto.status}
            where id = #{dto.id}
    </update>
</mapper>