server:
  port: 30421

spring:
  config:
    import:
      - optional:application-token.yml
      - optional:application-web.yml
      - optional:application-redis.yml
      - optional:application-dubbo.yml
  application:
    name: easy-authorize
  profiles:
    active: prod

# knife4j的增强配置，不需要增强可以不配
knife4j:
  documents:
    - group: default
      name: 授权中心
logging:
  level:
    root: info

dubbo:
  application:
    qos-port: 23333
# 接口放行白名单
api-whitelist:
  url:
    - /check_user
    - /pwd_login